.module.centered-copy,
.module.wysiwyg {
	padding-top: 5.2rem;
	padding-bottom: 5.2rem;
&.rtp {
	padding-top: 0;
}
&.rbp {
	padding-bottom: 0;
}
	.link-wrap {
		padding-top: 1.4rem;
	}
	.contact-info {		
		line-height: 1.652;
		font-weight: 600;
		font-family: $font-acumen;
		> div {
			margin-bottom: 1.125rem;
		}
		a {
			color: $forest-green;
		}
	}
}