.color-cards {
	background-color: #F4F4F1;
	padding-top: 7.65rem;
	h2 {
		margin-bottom: 1.75em;
	}
	.single-card {
		margin-bottom: 4.4rem;
		.inner {
			height: 100%;
			overflow: hidden;
			border-radius: 0 0 30% 0;
			padding: 2.7rem 3rem 1.3rem;
			h3 {
				font-size: rem-calc(22);
				line-height: 1.72;
				margin-bottom: -4px;
			}
			p {
				font-size: rem-calc(16);
				line-height: 1.8125;
			}
			.link-wrap {
				padding-top: 1rem;
			}
			a {
				display: inline-block;
				svg {
					margin-left: 1.6rem;
				}
			}
		}
	}
}