footer.footer {
	padding-top: 5rem;
	padding-bottom: 2.9rem;
	@include breakpoint(medium) {
		padding-top: 6.15rem;
	}
	.left {
		padding-bottom: 2rem;
		.footer-tagline {
			padding-top: 1.2rem;
		}
	}
	.right {
		.grid-x {
			@include breakpoint(large) {
				justify-content: flex-end;
			}
		}
		h3 {
			color: $lime-green;
			font-family: $font-acumen;
			font-weight: 600;
			font-size: rem-calc(19);
			margin-bottom: 1.4rem;
		}
		a {
			display: inline-block;
			color: $white;
			padding: 0;
			transition: color .25s ease;
			svg path {
				transition: .25s ease;
			}
			&:hover {
				color: $lime-green;	
				svg path {
					fill: $lime-green;
				}
			}
		}
		ul.menu:not(#social-links) {
			padding-bottom: 2rem;
			li {
				padding-bottom: 1.25rem;
				font-size: rem-calc(19);
				line-height: 1.39;
			}
		}
	}
	#social-links {
		margin: -.5rem -.5rem 0;
		li {
			margin: .5rem;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.copyright,
	.copyright a {
		font-size: rem-calc(14);
		color: rgba($lime-green, .34);
	}
}