.blog,
.archive,
.single {
	.off-canvas-wrapper {
		overflow: visible;
	}
	.logo.desktop {
		svg {
			path {
				fill: $forest-green;
			}
		}
	}
	header.header #top-bar-menu #main-nav>li {
		&.menu-item-has-children>a {
			&:after {
				content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.185' height='4.246' viewBox='0 0 7.185 4.246'%3E%3Cpath data-name='Path 9910' d='M7.185.653L6.532 0 4.059 2.472l-.467.451-.467-.446L.653 0 0 .653l3.592 3.592z' fill='%232C4645'/%3E%3C/svg%3E");
			}
			&:hover {
				&:after {
					content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.185' height='4.246' viewBox='0 0 7.185 4.246'%3E%3Cpath data-name='Path 9910' d='M7.185.653L6.532 0 4.059 2.472l-.467.451-.467-.446L.653 0 0 .653l3.592 3.592z' fill='%23fff'/%3E%3C/svg%3E");
				}
			}
		}
		&.current_page_item:not(.is-submenu-item):not(.contact) {
			>a {
				&:before {
					background-color: $forest-green;
				}
			}
		}
		&.contact a {
			border-color: $forest-green;
			&:hover {
				border-color: $lime-yellow;
			}
		}
		>a {
			color: $forest-green;
			&:hover {
				color: $white;
			}
		}
	}
	.page-banner {
		position: relative;
		margin-bottom: 3.95rem;
		.bg {
			top: -100px;
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			color: $forest-green;
		}
		h1 {
			margin-bottom: 0;
		}
		.grid-container {
			position: relative;
		}
		.sub-banner-content .inner {
			padding-top: 1.8rem;
			@include breakpoint(tablet) {
				padding-top: 3.2rem;
			}
		}
		.bg {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(130deg, rgba(193,236,75,1) 0%, rgba(28,176,150,1) 100%);
		}
	}
	p.byline {
		color: $forest-green;
		font-size: rem-calc(16);
	}
	.content {
		padding-bottom: 3.45rem;
		@include breakpoint(medium) {
			padding-bottom: 6.45rem;
		}
	}
	.cat-links {
		margin-left: -6px;
		margin-right: -6px;
		padding-bottom: 4.65rem;
		a {
			display: inline-block;
			margin: 6px;
			padding: 0.844rem 1.2785rem;
			&:not(.is-active) {
				background-color: $white;
				color: $forest-green;
				border: 1px solid $forest-green;
			}
		}
	}
	article {
		.article-header
		.entry-content {
			width: 77%;
			max-width: 675px;
		}
	}	
}

.blog {
	.cat-links {
		a:not(.is-active):first-child {
			color: $white;
			background-color: $forest-green;
		}
	}
}

.single {
	.page-banner {
		margin-bottom: 4.65rem;
	}
	p.byline {
		margin-bottom: 0.8rem;
	}
	.h2 {
		margin-bottom: 0.93em;
	}
	.entry-content {
		padding-bottom: 2rem;
		@include breakpoint(medium) {
			padding-bottom: 3.8rem;
		}
		img.wp-post-image {
			margin-bottom: 5.45rem;
		}
		ul {
			margin: 5.67rem 0 3rem;
			list-style: none;
			border-top: 1px solid #1CB096;
			li {
				border-bottom: 1px solid #1CB096;
				padding: 1.8rem 0 2.3rem;
			}
		}
	}
	.article-footer {
		.cta-wrap {
			padding-bottom: 2.55rem;
			@include breakpoint(medium) {
				padding-bottom: 5.55rem;
			}
			a {
				display: inline-block;
				color: $forest-green;
				font-size: rem-calc(25);
				line-height: 1.68;
				min-width: 254px;
				padding: 0.9376rem;
			}
		}
		.social-share {
			margin: 0 -0.3rem;
			padding-bottom: 4.1rem;
			@include breakpoint(medium) {
				padding-bottom: 9.1rem;
			}
			.share-header {
				padding-bottom: 0.85rem;
				font-weight: 600;
				font-size: rem-calc(15);
				letter-spacing: 3px;
				text-transform: uppercase;
			}
			.links-wrap {
				> div {
					margin: 0.3rem;
				}
			}
		}
		.related-posts {
			h3 {
				margin-bottom: 2.6rem;
			}
			article {
				&:nth-child(5),
				&:nth-child(6) {
					@include breakpoint(small only) {
						border-bottom: 0;
					}
	
				}
				&:nth-child(4),
				&:nth-child(5),
				&:nth-child(6) {
					@include breakpoint(medium) {
						border-bottom: 0;
					}
				}
			}
		}
	}
}