// Colors
$forest-green: #2C4645;
$amethyst:  #957CCA;
$lime-green: #C1EC4B;
$violet: #4D24B3;
$teal : #1CB096;
$wintergreen: #1EF88A;

// Fonts
$font-presto: 'ivypresto-display', serif;
$font-acumen: 'acumin-pro', sans-serif;
